@font-face {
  font-family: "Prata";
  src: local("Prata Regular"), local("Prata-Regular"),
    url("../fonts/Prata/Prata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: local("Arial Regular"), local("Arial-Regular"),
    url("../fonts/Arial/Arial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: local("Arial Regular Italic"), local("Arial-Regular-Italic"),
    url("../fonts/Arial/Arial-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: local("Arial Bold"), local("Arial-Bold"),
    url("../fonts/Arial/Arial-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
